---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href={localizePath("/git-github-course/")}>Home</HeaderLink>
		<HeaderLink href="/git-github-course/git">Git</HeaderLink>
		<HeaderLink href="/git-github-course/github">Github</HeaderLink>
		<HeaderLink href={localizePath("/git-github-course/blog")}>Blog</HeaderLink>
		<LanguageSelector
		class="mt-2 py-2 px-4 font-semibold bg-transparent hover:bg-gray-50 border-2"
		showFlag={true}
	/>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
